<div class="header">
        <div class="prescription-number">
            <p>Order <strong>#${prescriptionNumber}</strong></p>
        </div>
        <div class="section">
            <p style="font-weight: bold;">Patient Details</p>
            <p>
                ${patientName} (PHN ${patientHIN})<br />
                ${patientGender} / ${patientDOB} / ${age} years old<br />
                ${patientAddress}, ${patientCityPostal}<br />
                Cell: ${patientPhone}
            </p>
            <br />
            <p>Drug Allergies<br /><strong>${patientAllergies}</strong></p>
        </div>
    </div>